<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6bee5448-07f6-4dad-acc2-c1fb2dcc0563" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="eaca91aa-6f77-4913-987b-08715290da86">contentBase</Composition>
      <Composition Key="be4172cb-42ef-40ab-a42f-6e8bac27e262">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ad035300-9499-47f8-82ae-1b92b71a431e">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6bee5448-07f6-4dad-acc2-c1fb2dcc0563" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>