<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="995d4092-af8a-483d-a685-35a64a739736" Alias="products" Level="1">
  <Info>
    <Name>Products</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="eaca91aa-6f77-4913-987b-08715290da86">contentBase</Composition>
      <Composition Key="be4172cb-42ef-40ab-a42f-6e8bac27e262">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Products</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="eda6dd31-1c6c-4645-a803-8c1763c364dc">Products</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="725d768b-b0f4-4d0d-bc7a-9da27ad95f69" SortOrder="0">product</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d254de84-0d46-4b74-92c2-655a5c0338d1</Key>
      <Name>Default Currency</Name>
      <Alias>defaultCurrency</Alias>
      <Definition>28a6aeda-b3fc-4c4d-926e-607854a07891</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is just used to prefix pricing]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Shop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc494eae-c9d4-4feb-a4d2-5b07b95a57c1</Key>
      <Name>Featured Products</Name>
      <Alias>featuredProducts</Alias>
      <Definition>d0382188-119b-49b7-86d3-84119a02645f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Shop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Shop</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>